*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

/vendor/
.idea
writable/cache
writable/logs
writable/session
writable/uploads
writable/debugbar
public/uploads
composer.lock
package-lock.json