<!doctype html>
<html lang="fr">
    <head>
        {{ meta }}
        {% for data in css %}
            <link rel="stylesheet" type="text/css" href="{{ data.file }}" />
        {% endfor %}
    </head>
    <body>
        {% block content %}{% endblock %}
        {% for data in js %}
            <script type="text/javascript" src="{{ data.file }}"></script>
        {% endfor %}
        <script type="text/javascript">
            $(document).ready(function () {
                App.init();
            });
        </script>
    </body>
</html>
