* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body,
html {
  height: 100%;
  font: 300 14px/1.7 Roboto, sans-serif;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em;
}

input,
select,
textarea {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px;
}

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  -webkit-transition: border-color 150ms ease;
  transition: border-color 150ms ease;
  width: 100%;
}

[type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
  border-color: #b1b1b1;
}

[type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
  border-color: #1a9da7;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(3, 169, 244, 0.7);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(3, 169, 244, 0.7);
  outline: none;
}

[type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}

[type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
  border: 1px solid #ddd;
}

[type='color']::-webkit-input-placeholder, [type='date']::-webkit-input-placeholder, [type='datetime']::-webkit-input-placeholder, [type='datetime-local']::-webkit-input-placeholder, [type='email']::-webkit-input-placeholder, [type='month']::-webkit-input-placeholder, [type='number']::-webkit-input-placeholder, [type='password']::-webkit-input-placeholder, [type='search']::-webkit-input-placeholder, [type='tel']::-webkit-input-placeholder, [type='text']::-webkit-input-placeholder, [type='time']::-webkit-input-placeholder, [type='url']::-webkit-input-placeholder, [type='week']::-webkit-input-placeholder, input:not([type])::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #858585;
}

[type='color']:-ms-input-placeholder, [type='date']:-ms-input-placeholder, [type='datetime']:-ms-input-placeholder, [type='datetime-local']:-ms-input-placeholder, [type='email']:-ms-input-placeholder, [type='month']:-ms-input-placeholder, [type='number']:-ms-input-placeholder, [type='password']:-ms-input-placeholder, [type='search']:-ms-input-placeholder, [type='tel']:-ms-input-placeholder, [type='text']:-ms-input-placeholder, [type='time']:-ms-input-placeholder, [type='url']:-ms-input-placeholder, [type='week']:-ms-input-placeholder, input:not([type]):-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #858585;
}

[type='color']::-ms-input-placeholder, [type='date']::-ms-input-placeholder, [type='datetime']::-ms-input-placeholder, [type='datetime-local']::-ms-input-placeholder, [type='email']::-ms-input-placeholder, [type='month']::-ms-input-placeholder, [type='number']::-ms-input-placeholder, [type='password']::-ms-input-placeholder, [type='search']::-ms-input-placeholder, [type='tel']::-ms-input-placeholder, [type='text']::-ms-input-placeholder, [type='time']::-ms-input-placeholder, [type='url']::-ms-input-placeholder, [type='week']::-ms-input-placeholder, input:not([type])::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #858585;
}

[type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
  color: #858585;
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%;
}

select {
  margin-bottom: 0.75em;
  width: 100%;
}

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 0px solid rgba(3, 169, 244, 0.6);
  outline-offset: 0px;
}

a {
  text-decoration: none;
  color: #1a9da7;
}

a:hover, a:active {
  color: #21c6d3;
}

#wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#wrapper:after {
  content: " ";
  display: block;
  clear: both;
}

#wrapper > header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

#wrapper > header.fixed .menu {
  -webkit-animation: showHeader 350ms ease;
  animation: showHeader 350ms ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 10;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}

#wrapper > header > .menu {
  padding: 25px 0;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
  display: block;
  background-color: white;
  position: relative;
  z-index: 10;
}

#wrapper > header > .menu a {
  color: #4d4d4d;
}

#wrapper > header > .menu > .main-nav {
  text-align: center;
}

#wrapper > header > .menu > .main-nav > ul {
  list-style-type: none;
}

#wrapper > header > .menu > .main-nav > ul > li.menu-item {
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700;
  font-size: 13px;
  color: #4d4d4d;
}

#wrapper > header > .menu > .main-nav > ul > li.menu-item > a:hover {
  color: #22bb66;
}

#wrapper > header > .menu > .main-nav > ul > li.menu-item > a.active {
  color: #22bb66;
  text-decoration: underline;
}

#wrapper > header > .menu > .main-nav > ul > li.menu-item > span:hover {
  color: #22bb66;
  cursor: pointer;
}

#wrapper > header > .menu > .main-nav > ul > li.menu-item:not(:last-of-type) {
  padding-right: 17.5px;
  margin-right: 15px;
  border-right: 1px dotted #e5e5e5;
}

#wrapper > header > .menu > .main-nav > ul > li.menu-item.menu-item-has-children {
  position: relative;
}

#wrapper > header > .menu > .main-nav > ul > li.menu-item.menu-item-has-children > a:first-of-type::after {
  display: inline-block;
  font-family: FontAwesome;
  content: "\f107";
  margin-left: 5px;
}

#wrapper > header > .menu > .main-nav > ul > li.menu-item.menu-item-has-children:hover .sub-menu {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  visibility: visible;
  opacity: 1;
}

#wrapper > header > .menu > .main-nav > ul > li.menu-item.menu-item-has-children > ul.sub-menu {
  -webkit-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transform: translateY(-15%);
  transform: translateY(-15%);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  text-align: left;
  padding: 20px 15px;
  top: 150%;
  left: 0;
  width: 200px;
  display: block;
  background: white;
}

#wrapper > header > .menu > .main-nav > ul > li.menu-item.menu-item-has-children > ul.sub-menu > li {
  text-align: left;
  display: block;
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  border-right: 0;
  border-bottom: 1px dotted #e5e5e5;
}

#wrapper > header > .menu > .main-nav > ul > li.menu-item.menu-item-has-children > ul.sub-menu > li:last-of-type {
  margin: 0;
  padding: 0;
  border: 0;
}

#wrapper > header > .menu > .main-nav > ul > li.menu-item.menu-item-has-children > ul.sub-menu > li > a:hover {
  color: #22bb66;
}

#wrapper > header > .header-area {
  padding: 50px 0 70px;
  overflow: hidden;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
}

#wrapper > header > .header-area > ul.social-platforms {
  list-style-type: none;
  padding: 0;
  line-height: 1em;
  margin: 0 0 20px 0;
}

#wrapper > header > .header-area > ul.social-platforms > li {
  display: inline-block;
  list-style-type: none;
}

#wrapper > header > .header-area > ul.social-platforms > li:not(:last-of-type) {
  margin-right: 12px;
}

#wrapper > header > .header-area > ul.social-platforms > li > a {
  display: inline-block;
  line-height: 1em;
  font-size: 17px;
  color: #c7c7c7;
}

#wrapper > header > .header-area > ul.social-platforms > li > a:hover {
  color: #22bb66;
}

#wrapper > header > .header-area > a {
  -webkit-transition: all 175ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 175ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  color: inherit;
  display: inline-block;
  color: #4d4d4d;
  font-size: 42px;
}

#wrapper > header > .header-area > a:hover {
  color: #22bb66;
}

#wrapper > #content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
}

#wrapper > #content > .annonce {
  float: left;
  width: calc(100% - 20px);
  color: #fff;
  margin: 10px 10px 0;
  padding: 15px;
  background-color: #22bb66;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

#wrapper > #content > .annonce > a {
  color: rgba(0, 0, 0, 0.5) !important;
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
}

#wrapper > #content > .annonce > a.active:after {
  height: 3px;
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  content: '';
}

#wrapper > #content > .annonce > a.active:before {
  display: block;
  content: '';
  background: silver;
  height: 3px;
  margin-top: -20px;
}

#wrapper > #content > .annonce > a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  -webkit-transition: width 0s ease, background 0.5s ease;
  transition: width 0s ease, background 0.5s ease;
}

#wrapper > #content > .annonce > a:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

#wrapper > #content > .annonce > a:hover {
  color: rgba(0, 0, 0, 0.5);
}

#wrapper > #content > .annonce > a:hover:before {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

#wrapper > #content > .annonce > a:hover:after {
  width: 100%;
  background: transparent;
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
}

#wrapper > #content > .menu_right {
  padding: 5px;
}

@media only screen and (max-width: 40rem) {
  #wrapper > #content > .menu_right.home {
    float: left;
    width: calc(100% - 10px);
    margin: 5px;
  }
}

@media only screen and (min-width: 40rem) {
  #wrapper > #content > .menu_right.home {
    float: right;
    width: 25%;
    margin: 10px 5px 10px 0;
  }
}

@media only screen and (max-width: 40rem) {
  #wrapper > #content > .menu_right.article {
    float: left;
    width: calc(100% - 10px);
    margin: 5px;
  }
}

@media only screen and (min-width: 40rem) {
  #wrapper > #content > .menu_right.article {
    float: right;
    width: 25%;
    margin: 10px 12.5% 10px 0;
  }
}

#wrapper > #content > .menu_right > .bloc {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

#wrapper > #content > .menu_right > .bloc:nth-child(n + 2) {
  margin-top: 10px;
}

@media only screen and (max-width: 40rem) {
  #wrapper > #content > .menu_right > .bloc#pub {
    display: none;
  }
}

@media only screen and (min-width: 40rem) {
  #wrapper > #content > .menu_right > .bloc.fixed {
    position: fixed;
    top: 0;
    float: left;
    width: calc(25% - 10px);
    right: 10px;
    margin-right: 12.5%;
  }
}

#wrapper > #content > .menu_right > .bloc > .add_email_news > .message {
  margin-left: 2%;
  width: 96%;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

#wrapper > #content > .menu_right > .bloc > .add_email_news > .message.success {
  background: #029c1f;
  color: #00ff7c;
  padding: 10px;
  border: 1px solid darkgreen;
}

#wrapper > #content > .menu_right > .bloc > .add_email_news > .message.error {
  background: #c80013;
  color: #ff7a6e;
  padding: 10px;
  border: 1px solid darkred;
}

#wrapper > #content > .menu_right > .bloc > .add_email_news > input {
  margin-left: 2%;
  width: 80%;
  float: left;
}

#wrapper > #content > .menu_right > .bloc > .add_email_news > button {
  height: 41px;
  width: 16%;
}

#wrapper > #content > .article_list {
  float: left;
  width: calc(75% - 10px);
  padding: 10px;
}

@media only screen and (max-width: 40rem) {
  #wrapper > #content > .article_list {
    float: left;
    width: 100%;
  }
}

#wrapper > #content > .article_list > h1 {
  color: #22bb66;
  text-align: center;
  padding: 5px;
  margin: 0;
}

#wrapper > #content > .article_list > .nopost {
  color: #22bb66;
  text-align: center;
  padding: 5px;
  margin-top: 70px;
  font-size: x-large;
}

#wrapper > #content > .article_list > .fisrt {
  padding: 0;
  float: left;
  width: calc(50% - 20px);
  margin: 0 10px 10px 0;
  position: relative;
}

#wrapper > #content > .article_list > .fisrt > .desc {
  background: rgba(0, 0, 0, 0.5);
  bottom: 7px;
  padding: 15px;
  position: absolute;
  width: 100%;
}

#wrapper > #content > .article_list > .fisrt > .desc > h2 {
  font-size: 18px;
  line-height: 1.4em;
  color: #FFFFFF;
}

#wrapper > #content > .article_list > .fisrt > .desc > h2 > a {
  color: #FFFFFF;
  outline: none;
  text-decoration: none;
}

#wrapper > #content > .article_list > .fisrt > .desc > .post_meta {
  color: #fff;
  font-size: 11px;
  padding: 10px 0;
}

#wrapper > #content > .article_list > .fisrt > .desc > .post_meta a {
  color: #FFFFFF;
}

#wrapper > #content > .article_list > .last_tree {
  padding: 0;
  width: calc(50% - 20px);
  margin: 0 10px 10px auto;
}

#wrapper > #content > .article_list > .last_tree > ul {
  height: 52.50vh;
}

#wrapper > #content > .article_list > .last_tree > ul > li {
  height: 32%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

#wrapper > #content > .article_list > .last_tree > ul > li:nth-child(n + 2) {
  margin-top: 2%;
}

#wrapper > #content > .article_list > .last_tree > ul > li > a > img {
  width: 30%;
  height: 100%;
}

#wrapper > #content > .article_list > .last_tree > ul > li > .desc {
  bottom: 7px;
  padding: 15px;
  width: 68%;
  float: right;
}

#wrapper > #content > .article_list > .last_tree > ul > li > .desc > h2 {
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#wrapper > #content > .article_list > .last_tree > ul > li > .desc > h2 > a {
  color: #000000;
  outline: none;
  text-decoration: none;
}

#wrapper > #content > .article_list > .last_tree > ul > li > .desc > .post_meta {
  font-size: 11px;
  padding: 10px 0;
}

#wrapper > #content > .article_list > .last_tree > ul > li > .desc > .post_meta a {
  color: #000000;
}

#wrapper > #content > .article_list > .last_tree > ul > li > .desc > .read_more > a {
  float: right;
  color: rgba(0, 0, 0, 0.5) !important;
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
}

#wrapper > #content > .article_list > .last_tree > ul > li > .desc > .read_more > a.active:after {
  height: 3px;
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  content: '';
}

#wrapper > #content > .article_list > .last_tree > ul > li > .desc > .read_more > a.active:before {
  display: block;
  content: '';
  background: silver;
  height: 3px;
  margin-top: -20px;
}

#wrapper > #content > .article_list > .last_tree > ul > li > .desc > .read_more > a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  -webkit-transition: width 0s ease, background 0.5s ease;
  transition: width 0s ease, background 0.5s ease;
}

#wrapper > #content > .article_list > .last_tree > ul > li > .desc > .read_more > a:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

#wrapper > #content > .article_list > .last_tree > ul > li > .desc > .read_more > a:hover {
  color: rgba(0, 0, 0, 0.5);
}

#wrapper > #content > .article_list > .last_tree > ul > li > .desc > .read_more > a:hover:before {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

#wrapper > #content > .article_list > .last_tree > ul > li > .desc > .read_more > a:hover:after {
  width: 100%;
  background: transparent;
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
}

#wrapper > #content > .article_last {
  float: left;
  width: calc(100% - 10px);
  margin: 0 0 10px 5px;
}

#wrapper > #content > .article_last > h1 {
  color: #22bb66;
  text-align: center;
  padding: 5px;
  margin: 0;
}

#wrapper > #content > .list-cat {
  margin: 5px;
}

#wrapper > #content > .list-cat > .cat_info {
  float: left;
  width: calc(25% - 10px);
  margin: 5px;
}

@media only screen and (max-width: 64rem) {
  #wrapper > #content > .list-cat > .cat_info {
    float: left;
    width: calc(50% - 10px);
    margin: 5px;
  }
}

@media only screen and (max-width: 40rem) {
  #wrapper > #content > .list-cat > .cat_info {
    float: left;
    width: calc(100% - 10px);
    margin: 5px;
  }
}

#wrapper > #content > .list-cat > .cat_info > .header {
  height: 90px;
  background: #22bb66;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-top-left-radius: 5px "";
  -webkit-border-top-left-radius: 5px "";
  -moz-border-radius-topleft: 5px "";
  border-top-right-radius: 5px "";
  -webkit-border-top-right-radius: 5px "";
  -moz-border-radius-topright: 5px "";
}

#wrapper > #content > .list-cat > .cat_info > .header > .icon {
  left: 50%;
  top: 50px;
  margin-left: -40px;
  position: absolute;
  width: 80px;
  height: 80px;
}

#wrapper > #content > .list-cat > .cat_info > .header > .titre {
  position: absolute;
  top: 24px;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
}

#wrapper > #content > .list-cat > .cat_info > .header > .titre > a {
  color: #000;
  text-decoration: none;
}

#wrapper > #content > .list-cat > .cat_info > .header:before {
  content: '';
  display: table;
  clear: both;
}

#wrapper > #content > .list-cat > .cat_info > .header:after {
  content: '';
  display: table;
  clear: both;
}

#wrapper > #content > .list-cat > .cat_info > .description {
  padding: 40px 5px 5px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 5px "";
  -webkit-border-bottom-right-radius: 5px "";
  -moz-border-radius-bottomright: 5px "";
  border-bottom-left-radius: 5px "";
  -moz-border-radius-bottomright: 5px "";
  -moz-border-radius-bottomleft: 5px "";
}

#wrapper > #content > .list-cat > .cat_info > .description > .explore {
  position: relative;
  width: 100%;
  text-align: center;
}

#wrapper > #content > .list-cat > .cat_info > .description > .explore > a {
  color: #22bb66;
  text-decoration: none;
}

@media only screen and (min-width: 40rem) {
  #wrapper > #content > #article {
    float: left;
    width: calc(50% - 25px);
    margin: 15px 0 20px calc((12.5% + 10px) - 25px);
  }
}

@media only screen and (max-width: 40rem) {
  #wrapper > #content > #article {
    float: left;
    width: calc(100% - 20px);
    margin: 0 10px 10px;
  }
}

#wrapper > #content > #article > .title {
  background: #fff;
  padding: 15px 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-top-left-radius: 5px "";
  -webkit-border-top-left-radius: 5px "";
  -moz-border-radius-topleft: 5px "";
  border-top-right-radius: 5px "";
  -webkit-border-top-right-radius: 5px "";
  -moz-border-radius-topright: 5px "";
}

#wrapper > #content > #article > .title > h2 {
  text-align: center;
  font-size: 38px;
  font-weight: 300;
  line-height: 1.42;
  margin-bottom: 14.5px;
}

#wrapper > #content > #article > .title > ul {
  text-align: center;
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none;
}

#wrapper > #content > #article > .title > ul > li {
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
}

#wrapper > #content > #article > .title > ul > li a {
  text-decoration: none;
  color: #22bb66;
}

#wrapper > #content > #article > .title > ul > li a:hover, #wrapper > #content > #article > .title > ul > li a:active {
  color: #21c6d3;
}

#wrapper > #content > #article > .image {
  height: 430px;
}

#wrapper > #content > #article > .image > img {
  width: 100%;
  height: 430px;
}

#wrapper > #content > #article > .content {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 5px "";
  -webkit-border-bottom-right-radius: 5px "";
  -moz-border-radius-bottomright: 5px "";
  border-bottom-left-radius: 5px "";
  -moz-border-radius-bottomright: 5px "";
  -moz-border-radius-bottomleft: 5px "";
}

#wrapper > #content > #article > .content > .code-toolbar {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#wrapper > #content > #article > .content a {
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #22bb66;
}

#wrapper > #content > #article > .content a:hover {
  color: #eee;
  background: #22bb66;
}

#wrapper > #content > .tags {
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

@media only screen and (min-width: 40rem) {
  #wrapper > #content > .tags {
    float: left;
    width: calc(50% - 25px);
    margin: 15px 0 20px calc((12.5% + 10px) - 25px);
  }
}

@media only screen and (max-width: 40rem) {
  #wrapper > #content > .tags {
    float: left;
    width: calc(100% - 20px);
    margin: 0 10px 10px;
  }
}

#wrapper > #content > .tags > a {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background-color: #22bb66;
  border-color: #1a904e;
  padding: .5em;
  margin-bottom: 1em;
  color: white;
  -webkit-transition: background .15s;
  transition: background .15s;
}

#wrapper > #content > .tags > a:hover, #wrapper > #content > .tags > a:active {
  background: #36da7f;
}

#wrapper > #content > .tags > a:nth-child(n + 1) {
  margin-left: 5px;
}

#wrapper > #content > .commentaire {
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

@media only screen and (min-width: 40rem) {
  #wrapper > #content > .commentaire {
    float: left;
    width: calc(50% - 25px);
    margin: 15px 0 20px calc((12.5% + 10px) - 25px);
  }
}

@media only screen and (max-width: 40rem) {
  #wrapper > #content > .commentaire {
    float: left;
    width: calc(100% - 20px);
    margin: 0 10px 10px;
  }
}

#wrapper > #content > .commentaire > .comment {
  margin: 5px 5px 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

#wrapper > #content > .commentaire > .comment > .inf {
  background-color: #22bb66;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 0 5px;
}

#wrapper > #content > .commentaire > .comment > .inf > span {
  display: block;
  color: #fff;
}

#wrapper > #content > .commentaire > .comment > .inf > span.name {
  color: #fff;
}

#wrapper > #content > .commentaire > .comment > .inf > span.date {
  font-size: xx-small;
}

#wrapper > #content > .commentaire > .comment > .inf > span > i {
  color: #fff;
}

#wrapper > #content > .commentaire > .comment > .cont {
  padding: 5px;
}

#wrapper > #content > .commentaire > .no-comment {
  margin: 5px 5px 15px;
}

#wrapper > #content > .commentaire > .message_add_coms {
  width: 100%;
  text-align: center;
}

#wrapper > #content > .commentaire > .add_com {
  margin: 5px 5px 15px;
  padding: 5px;
}

#wrapper > #content > .commentaire > .add_com > .group-inline {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#wrapper > #content > .commentaire > .add_com > .group-inline:after {
  content: " ";
  display: block;
  clear: both;
}

#wrapper > #content > .commentaire > .add_com > .group-inline > label {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding: 0.5;
}

#wrapper > #content > .commentaire > .add_com > .group-inline > input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: right;
}

#wrapper > #content > .commentaire > .add_com > .group-inline > textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: right;
  min-height: 200px;
}

#wrapper > #content > .commentaire > .add_com > button {
  margin-left: auto;
  float: right;
}

#wrapper > #content .page_content {
  float: left;
  width: calc(100% - 20px);
  margin: 10px;
  padding: 15px;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#wrapper > #content .tabsnavtitle {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin-top: 1%;
}

#wrapper > #content .tabsnavtitle > button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
}

#wrapper > #content .tabsnavtitle > button:hover {
  background-color: #ddd;
}

#wrapper > #content .tabsnavtitle > button.active {
  background-color: #ccc;
}

#wrapper > #content .tabsnavcontent .tabsc {
  display: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  border: 1px solid #ccc;
  padding: 5px;
}

#wrapper > #content .tabsnavcontent .show {
  display: block;
}

#wrapper > #content .contact > .group-inline {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#wrapper > #content .contact > .group-inline:after {
  content: " ";
  display: block;
  clear: both;
}

#wrapper > #content .contact > .group-inline > label {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 12.5%;
  float: left;
  padding: 0.5;
}

#wrapper > #content .contact > .group-inline > input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 87.5%;
  float: right;
}

#wrapper > #content .contact > .group-inline > textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 87.5%;
  float: right;
  min-height: 200px;
}

#wrapper > footer {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  bottom: 0;
  height: 30px;
  overflow: auto;
  background-color: #22bb66;
  color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  font-size: small;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
}

@media only screen and (max-width: 40rem) {
  #wrapper > footer {
    height: 70px;
  }
}

#wrapper > footer > a {
  color: #d6d6d6;
}

#wrapper > footer > a:hover {
  color: #707070;
}

#wrapper > .scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: #777777;
  color: #eeeeee;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#wrapper > .scroll-top-wrapper:hover {
  background-color: #888888;
}

#wrapper > .scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 1.0;
}

#wrapper > .scroll-top-wrapper i.fa {
  line-height: inherit;
}

.recherche_modal {
  display: none;
  position: fixed;
  z-index: 11;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.recherche_modal > .modal {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.recherche_modal > .modal > .titre {
  background-color: #22bb66;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
  font-size: 38px;
  font-weight: 300;
  line-height: 1.42;
  margin: 0;
  text-align: center;
}

.recherche_modal > .modal > .content {
  background-color: #ffffff;
  padding: 10px 5px 5px;
}

.recherche_modal > .modal > .content > form > .group-inline {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.recherche_modal > .modal > .content > form > .group-inline:after {
  content: " ";
  display: block;
  clear: both;
}

.recherche_modal > .modal > .content > form > .group-inline > label {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding: 5px;
  text-align: right;
}

.recherche_modal > .modal > .content > form > .group-inline > input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 62.5%;
  float: left;
}

.recherche_modal > .modal > .content > form > .btn_act > span {
  float: right;
  padding: 0.75em 1.5em;
  cursor: pointer;
}

.recherche_modal > .modal > .content > form > .btn_act > span > i {
  color: red;
}

.recherche_modal > .modal > .content > form > .btn_act > button {
  float: right;
  *zoom: 1;
  margin-top: 10px;
}

.recherche_modal > .modal > .content > form > .btn_act > button:before, .recherche_modal > .modal > .content > form > .btn_act > button:after {
  display: table;
  content: '';
  line-height: 0;
}

.recherche_modal > .modal > .content > form > .btn_act > button:after {
  clear: both;
}

#errors {
  float: left;
  width: calc(100% - 20px);
  margin: 10px;
  padding: 15px;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#errors > h1 {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#errors .description {
  padding-top: 15px;
}

#errors .description > a {
  color: rgba(0, 0, 0, 0.5) !important;
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
}

#errors .description > a.active:after {
  height: 3px;
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  content: '';
}

#errors .description > a.active:before {
  display: block;
  content: '';
  background: silver;
  height: 3px;
  margin-top: -20px;
}

#errors .description > a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  -webkit-transition: width 0s ease, background 0.5s ease;
  transition: width 0s ease, background 0.5s ease;
}

#errors .description > a:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

#errors .description > a:hover {
  color: rgba(0, 0, 0, 0.5);
}

#errors .description > a:hover:before {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

#errors .description > a:hover:after {
  width: 100%;
  background: transparent;
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
}

.eupopup-container {
  background-color: rgba(25, 25, 25, 0.9);
  color: #efefef;
  padding: 5px 20px;
  font-size: 12px;
  line-height: 1.2em;
  text-align: center;
  display: none;
  z-index: 9999999;
}

.eupopup-container.eupopup-container-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.eupopup-container > .eupopup-head {
  font-size: 1.2em;
  font-weight: bold;
  padding: 7px;
  color: #fff;
}

.eupopup-container > .eupopup-body {
  color: #a2a2a2;
}

.eupopup-container > .eupopup-buttons {
  padding: 7px 0 5px;
}

.eupopup-container > .eupopup-buttons > .eupopup-button {
  margin: 0 10px;
}

.eupopup-container > .eupopup-buttons > .eupopup-button.eupopup-button_1 {
  color: #f6a21d;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.eupopup-container > .eupopup-buttons > .eupopup-button.eupopup-button_2 {
  color: #f6a21d;
  font-weight: normal;
  font-size: 12px;
}

.eupopup-container > .eupopup-buttons > .eupopup-button:focus, .eupopup-container > .eupopup-buttons > .eupopup-button:hover {
  text-decoration: underline;
  color: #f6a21d;
}

.article_bloc {
  float: left;
  width: calc(25% - 10px);
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

@media only screen and (max-width: 64rem) {
  .article_bloc {
    float: left;
    width: calc(50% - 10px);
    margin: 5px;
  }
}

@media only screen and (max-width: 40rem) {
  .article_bloc {
    float: left;
    width: calc(100% - 10px);
    margin: 5px;
  }
}

.article_bloc > .images > a > img {
  width: 100%;
  max-height: 250px;
  border-top-left-radius: 5px "";
  -webkit-border-top-left-radius: 5px "";
  -moz-border-radius-topleft: 5px "";
  border-top-right-radius: 5px "";
  -webkit-border-top-right-radius: 5px "";
  -moz-border-radius-topright: 5px "";
}

.article_bloc > .images > .tags {
  margin-top: -33px;
  position: absolute;
}

.article_bloc > .images > .tags > a {
  color: #fff;
  text-decoration: none;
  background-color: #22bb66;
  padding: 5px;
}

.article_bloc > .images > .tags > a:nth-child(n + 2) {
  border-left: 1px solid #fff;
}

.article_bloc > .info {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 5px 5px;
  color: rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.article_bloc > .info:after {
  content: " ";
  display: block;
  clear: both;
}

.article_bloc > .info > .publish_date {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
}

.article_bloc > .info > .publish_date > span {
  color: #000;
}

.article_bloc > .info > .coms {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: right;
  text-align: right;
}

.article_bloc > .info > .coms > span {
  color: #000;
}

.article_bloc > a {
  color: #333;
  text-decoration: none;
}

.article_bloc > a > h1 {
  margin-top: 5px;
  margin-bottom: 0;
  text-align: center;
}

.article_bloc > .content {
  min-height: 300px;
  max-height: 300px;
  height: 300px;
  padding: 5px;
  position: relative;
  word-wrap: break-word;
  overflow: hidden;
  text-align: justify;
}

.article_bloc > .content a {
  color: rgba(0, 0, 0, 0.5) !important;
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
}

.article_bloc > .content a.active:after {
  height: 3px;
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  content: '';
}

.article_bloc > .content a.active:before {
  display: block;
  content: '';
  background: silver;
  height: 3px;
  margin-top: -20px;
}

.article_bloc > .content a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  -webkit-transition: width 0s ease, background 0.5s ease;
  transition: width 0s ease, background 0.5s ease;
}

.article_bloc > .content a:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.article_bloc > .content a:hover {
  color: rgba(0, 0, 0, 0.5);
}

.article_bloc > .content a:hover:before {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.article_bloc > .content a:hover:after {
  width: 100%;
  background: transparent;
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
}

.article_bloc > .read_more {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 15px 30px 5px;
}

.article_bloc > .read_more > a {
  float: right;
  color: rgba(0, 0, 0, 0.5) !important;
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
}

.article_bloc > .read_more > a.active:after {
  height: 3px;
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  content: '';
}

.article_bloc > .read_more > a.active:before {
  display: block;
  content: '';
  background: silver;
  height: 3px;
  margin-top: -20px;
}

.article_bloc > .read_more > a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  -webkit-transition: width 0s ease, background 0.5s ease;
  transition: width 0s ease, background 0.5s ease;
}

.article_bloc > .read_more > a:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.article_bloc > .read_more > a:hover {
  color: rgba(0, 0, 0, 0.5);
}

.article_bloc > .read_more > a:hover:before {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.article_bloc > .read_more > a:hover:after {
  width: 100%;
  background: transparent;
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
}

.btn {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background-color: #22bb66;
  border-color: #1a904e;
  padding: .5em;
  margin-bottom: 1em;
  color: white;
  -webkit-transition: background .15s;
  transition: background .15s;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 1px rgba(255, 255, 255, 0.2);
  border: 1px solid;
}

.btn:hover, .btn:active {
  background: #36da7f;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn:disabled:hover {
  background-color: #22bb66;
}

.btn-social {
  position: relative;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: .5em;
  display: block;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin-bottom: 2%;
}

.btn-social.btn-facebook {
  color: #ffffff;
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-social.btn-facebook:focus, .btn-social.btn-facebook.focus {
  color: #ffffff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-social.btn-facebook:hover {
  color: #ffffff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-social.btn-facebook:active, .btn-social.btn-facebook.active,
.open > .btn-social.btn-facebook.dropdown-toggle {
  color: #ffffff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-social.btn-facebook:active:hover, .btn-social.btn-facebook:active:focus, .btn-social.btn-facebook:active.focus, .btn-social.btn-facebook.active:hover, .btn-social.btn-facebook.active:focus, .btn-social.btn-facebook.active.focus,
.open > .btn-social.btn-facebook.dropdown-toggle:hover,
.open > .btn-social.btn-facebook.dropdown-toggle:focus,
.open > .btn-social.btn-facebook.dropdown-toggle.focus {
  color: #ffffff;
  background-color: #23345a;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-social.btn-facebook:active, .btn-social.btn-facebook.active,
.open > .btn-social.btn-facebook.dropdown-toggle {
  background-image: none;
}

.btn-social.btn-facebook.disabled:hover, .btn-social.btn-facebook.disabled:focus, .btn-social.btn-facebook.disabled.focus, .btn-social.btn-facebook[disabled]:hover, .btn-social.btn-facebook[disabled]:focus, .btn-social.btn-facebook[disabled].focus,
fieldset[disabled] .btn-social.btn-facebook:hover,
fieldset[disabled] .btn-social.btn-facebook:focus,
fieldset[disabled] .btn-social.btn-facebook.focus {
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-social.btn-facebook .badge {
  color: #3b5998;
  background-color: #ffffff;
}

.btn-social.btn-twitter {
  color: #ffffff;
  background-color: #55acee;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-social.btn-twitter:focus, .btn-social.btn-twitter.focus {
  color: #ffffff;
  background-color: #2795e9;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-social.btn-twitter:hover {
  color: #ffffff;
  background-color: #2795e9;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-social.btn-twitter:active, .btn-social.btn-twitter.active,
.open > .btn-social.btn-twitter.dropdown-toggle {
  color: #ffffff;
  background-color: #2795e9;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-social.btn-twitter:active:hover, .btn-social.btn-twitter:active:focus, .btn-social.btn-twitter:active.focus, .btn-social.btn-twitter.active:hover, .btn-social.btn-twitter.active:focus, .btn-social.btn-twitter.active.focus,
.open > .btn-social.btn-twitter.dropdown-toggle:hover,
.open > .btn-social.btn-twitter.dropdown-toggle:focus,
.open > .btn-social.btn-twitter.dropdown-toggle.focus {
  color: #ffffff;
  background-color: #1583d7;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-social.btn-twitter:active, .btn-social.btn-twitter.active,
.open > .btn-social.btn-twitter.dropdown-toggle {
  background-image: none;
}

.btn-social.btn-twitter.disabled:hover, .btn-social.btn-twitter.disabled:focus, .btn-social.btn-twitter.disabled.focus, .btn-social.btn-twitter[disabled]:hover, .btn-social.btn-twitter[disabled]:focus, .btn-social.btn-twitter[disabled].focus,
fieldset[disabled] .btn-social.btn-twitter:hover,
fieldset[disabled] .btn-social.btn-twitter:focus,
fieldset[disabled] .btn-social.btn-twitter.focus {
  background-color: #55acee;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-social.btn-twitter .badge {
  color: #55acee;
  background-color: #ffffff;
}

.btn-social.btn-google {
  color: #ffffff;
  background-color: #dd4b39;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-social.btn-google:focus, .btn-social.btn-google.focus {
  color: #ffffff;
  background-color: #c23321;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-social.btn-google:hover {
  color: #ffffff;
  background-color: #c23321;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-social.btn-google:active, .btn-social.btn-google.active,
.open > .btn-social.btn-google.dropdown-toggle {
  color: #ffffff;
  background-color: #c23321;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-social.btn-google:active:hover, .btn-social.btn-google:active:focus, .btn-social.btn-google:active.focus, .btn-social.btn-google.active:hover, .btn-social.btn-google.active:focus, .btn-social.btn-google.active.focus,
.open > .btn-social.btn-google.dropdown-toggle:hover,
.open > .btn-social.btn-google.dropdown-toggle:focus,
.open > .btn-social.btn-google.dropdown-toggle.focus {
  color: #ffffff;
  background-color: #a32b1c;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-social.btn-google:active, .btn-social.btn-google.active,
.open > .btn-social.btn-google.dropdown-toggle {
  background-image: none;
}

.btn-social.btn-google.disabled:hover, .btn-social.btn-google.disabled:focus, .btn-social.btn-google.disabled.focus, .btn-social.btn-google[disabled]:hover, .btn-social.btn-google[disabled]:focus, .btn-social.btn-google[disabled].focus,
fieldset[disabled] .btn-social.btn-google:hover,
fieldset[disabled] .btn-social.btn-google:focus,
fieldset[disabled] .btn-social.btn-google.focus {
  background-color: #dd4b39;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-social.btn-google .badge {
  color: #dd4b39;
  background-color: #ffffff;
}

.btn-social.btn-reddit {
  color: #000000;
  background-color: #eff7ff;
  border-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #000000;
}

.btn-social.btn-reddit:focus, .btn-social.btn-reddit.focus {
  color: #000000;
  background-color: #bcdeff;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-social.btn-reddit:hover {
  color: #000000;
  background-color: #bcdeff;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-social.btn-reddit:active, .btn-social.btn-reddit.active,
.open > .btn-social.btn-reddit.dropdown-toggle {
  color: #000000;
  background-color: #bcdeff;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-social.btn-reddit:active:hover, .btn-social.btn-reddit:active:focus, .btn-social.btn-reddit:active.focus, .btn-social.btn-reddit.active:hover, .btn-social.btn-reddit.active:focus, .btn-social.btn-reddit.active.focus,
.open > .btn-social.btn-reddit.dropdown-toggle:hover,
.open > .btn-social.btn-reddit.dropdown-toggle:focus,
.open > .btn-social.btn-reddit.dropdown-toggle.focus {
  color: #000000;
  background-color: #98ccff;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-social.btn-reddit:active, .btn-social.btn-reddit.active,
.open > .btn-social.btn-reddit.dropdown-toggle {
  background-image: none;
}

.btn-social.btn-reddit.disabled:hover, .btn-social.btn-reddit.disabled:focus, .btn-social.btn-reddit.disabled.focus, .btn-social.btn-reddit[disabled]:hover, .btn-social.btn-reddit[disabled]:focus, .btn-social.btn-reddit[disabled].focus,
fieldset[disabled] .btn-social.btn-reddit:hover,
fieldset[disabled] .btn-social.btn-reddit:focus,
fieldset[disabled] .btn-social.btn-reddit.focus {
  background-color: #eff7ff;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-social.btn-reddit .badge {
  color: #eff7ff;
  background-color: #000000;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination > li {
  display: inline;
}

ul.pagination > li.active > a {
  cursor: not-allowed;
  background-color: #21c6d3;
  color: white;
  border: 1px solid #22bb66;
}

ul.pagination > li:first-child > a {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

ul.pagination > li:last-child > a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #22bb66;
}

ul.pagination > li > a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-top: 1px solid #22bb66;
  border-bottom: 1px solid #22bb66;
  border-left: 1px solid #22bb66;
  font-weight: bold;
}

ul.pagination > li > a:hover {
  background: #22bb66;
}

blockquote {
  display: block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  /*Borders - (Optional)*/
  border-left: 15px solid #22bb66;
  border-right: 2px solid #22bb66;
  /*Box Shadow - (Optional)*/
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before {
  content: "\201C";
  /*Unicode for Left Double Quote*/
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  /*Positioning*/
  position: absolute;
  left: 10px;
  top: 5px;
}

blockquote::after {
  /*Reset to make sure*/
  content: "";
}

blockquote a {
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #22bb66;
}

blockquote a:hover {
  color: #eee;
  background: #22bb66;
}

blockquote em {
  font-style: italic;
}
