{% extends "template.twig" %}
{% block content %}
    <form class="add_article_form">
        <div class="row m-0 p-0">
            <div class="col-md-8">
                <div id="pan_cont">
                    <div class="title">
                        <h2>Information principal</h2>
                    </div>
                    <div class="fin">
                        <div class="row">
                            <div class="col">
                                <div class="form-froup">
                                    <label for="title">Titre :</label>
                                    <input type="text" class="form-control" id="title" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-froup">
                                    <label for="link">Lien :</label>
                                    <input type="text" class="form-control" id="link" />
                                </div>
                            </div>
                        </div>
                        <div class="form-froup">
                            <label for="content">Text :</label>
                            <textarea class="form-control" id="content" rows="30"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div id="pan_cont">
                    <div class="title">
                        <h2>Publication</h2>
                    </div>
                    <div class="fin">
                        <button type="submit">Envoyer à la correction</button>
                    </div>
                </div>
                <div id="pan_cont">
                    <div class="title">
                        <h2>Information Secondaire</h2>
                    </div>
                    <div class="fin">
                        <div class="form-group row">
                            <label for="options" class="col-sm-3 col-form-label">Important</label>
                            <div class="col-sm-9">
                                <label class="btn btn-danger">
                                    <input type="radio" id="options" name="options" value="0" autocomplete="off" checked> Non
                                </label>
                                <label class="btn btn-success">
                                    <input type="radio" id="options" name="options" value="1" autocomplete="off"> Oui
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="wordkey" class="col-sm-3 col-form-label">Mots clefs</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="wordkey" placeholder="Mots clefs">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="cat" class="col-sm-3 col-form-label">Catégorie</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="cat" multiple>
                                    {% for data in getcat %}
                                        <option value="{{ data.id }}">{{ data.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="pic" class="col-sm-3 col-form-label">Image à la une (lien)</label>
                            <div class="col-sm-9">
                                <input type="file" name="pictures" class="form-control" id="pic" placeholder="Image à la une" data-url=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}