{% extends "layout.twig" %}
{% block content %}
    <div class="page_content">
        <h2>{{ trans('cookies.title') }} {{ 'site_title'|config }}</h2>
        {{ trans('cookies.content') }}
        <p>Email: {{ 'mail_from_adress'|config }}</p>
    </div>
{% endblock %}
