{% extends "template.twig" %}
{% block content %}
    <div id="errors">
        <h1>{{ trans('errors.404_title') }}</h1>
        <div class="description">{{ trans('errors.404_content') }}</div>
    </div>
{% endblock %}
