{% extends "template_login.twig" %}
{% block content %}
    <div class="content">
        <div class="title">Déconnexion</div>
        <div style="width:100%;text-align: center;">Déconnexion réussi avec succée</div>
    </div>
{% endblock %}