{% extends "layout.twig" %}
{% block content %}
    <div class="page_content">
        <div class="title">
            <h2>{{ page_info.title }}</h2>
        </div>
        <div class="content">
            {{ parse(page_info.content) }}
        </div>
    </div>
{% endblock %}