body {
    height: 100%;
    font: 300 14px/1.7 Roboto, sans-serif;
    margin-bottom: 250px!important;
}

html {
    position: relative;
    min-height: 100%;
    font: 300 14px/1.7 Roboto, sans-serif;
    box-sizing: border-box;
}