.cat_info {
        margin: 5px;
        > {
            .header {
                height: 90px;
                background: #22bb66;
                position: relative;
                border: 1px solid rgba(0, 0, 0, 0.2);
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                border-top-left-radius: 5px;
                -webkit-border-top-left-radius: 5px;
                -moz-border-radius-topleft: 5px;
                border-top-right-radius: 5px;
                -webkit-border-top-right-radius: 5px;
                -moz-border-radius-topright: 5px;
                > {
                    .icon {
                        left: 50%;
                        top: 50px;
                        margin-left: -40px;
                        position: absolute;
                        width: 80px;
                        height: 80px;
                    }
                    .titre {
                        position: absolute;
                        top: 24px;
                        left: 0;
                        width: 100%;
                        text-align: center;
                        color: #ffffff;
                        > a {
                            color: #000;
                            text-decoration: none;
                        }
                    }
                }
                &:before, &:after {
                    content: '';
                    display: table;
                    clear: both;
                }
            }
            .description {
                padding: 40px 5px 5px 5px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                border-left: 1px solid rgba(0, 0, 0, 0.2);
                border-right: 1px solid rgba(0, 0, 0, 0.2);
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                border-bottom-right-radius: 5px;
                -webkit-border-bottom-right-radius: 5px;
                -moz-border-radius-bottomright: 5px;
                border-bottom-left-radius: 5px;
                -moz-border-radius-bottomright: 5px;
                -moz-border-radius-bottomleft: 5px;
                > .explore {
                    position: relative;
                    width: 100%;
                    text-align: center;
                    > a {
                        color: #22bb66;
                        text-decoration: none;
                    }
                }
            }
        }
    }